/**
-Rename file to .env
-Generate in moviedb api
**/

API_KEY=
URI_IMAGE_ORIGINAL=https://image.tmdb.org/t/p/original
URI_IMAGEN_500=https://image.tmdb.org/t/p/w500
URI_SEARCH=https://api.themoviedb.org/3/search/movie?api_key=
