*{
    padding:0;
    margin:0;
}

header{

    color: white;  
}

footer{
    margin-top:20px;
    color: white;
    background:#343a40 ;
}

.margin-icons_header{
    margin-right: 8px;
}

.input-search_style{
    padding:12px;
    border-radius: 50px 0 0 50px;
}

.button-search_style{
    padding: 12px;
    border-radius: 0 50px 50px 0;
}
