*{
    padding:0;
    margin:0;
}

header{

    color: white;  
}

footer{
    background-color:#121B25;
}

header{
    background-color:#121B25;
}

.container_bg{
    background-color: #fff;
}
.margin-icons_header{
    margin-right: 8px;
}

.input-search_style{
    padding:12px;
    border-radius: 50px 0 0 50px;
    border-color: #121b25;
}

.button-search_style{
    padding: 12px;
    border-radius: 0 50px 50px 0;
    background-color: #121b25;
    border-color: #121b25;
    font-weight: 600;
}




.trending-title_item{
    font-size: 14px;
    font-weight: bold;
}

.trending-cut_title{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.trending-date_item{
    font-size: 12px;
    font-weight: 100;
}


.img-trending_zoon{
    transition: transform .2s;
}

.img-trending_zoon:hover{
    transform: scale(1.1);
}

.img-favorites_max_width{
    max-width: 150px;
}

.contect-banner_movie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-movie{
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
}

.overview-movie{
    font-size: 16px;
    color: white;
}

.title-overview{
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    margin-top: 45px;
}

.style-poster_movie{
    border-radius: 10px;
}

.block-imagen_nofound{
    width: 100%;
    height: 354px;
    background: #e8e8e8;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.title-item_favorites{
    font-size: 1.3rem;
    font-weight: 600;
}

.description-item_favorites{
    font-size: 14px;
}

